* {
    padding: 0;
    margin: 0;

}

.todoingreso {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.datos {
    display: flex;
    flex-direction: column;
}
.botoningreso {
    background-color: #BA7894;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

button {
    font-family: sans-serif;
}

.decoraciones {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.lodeabajo {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.all {
    display: flex;
    flex-direction: column;
    width: 22.5%;
}

.titini {
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.subtit {
    font-size: large;
    display: flex;
    justify-content: center;
    font-family: system-ui;
    color: gray;
    padding-bottom: 5%;
}


.acclog {
    padding: 5px;
}
.accini {
    text-decoration: underline;
    padding: 5px;
}
.cont1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cont2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cont3 {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.bx {
    font-size: 20px;
transform: translateX(-22px);
color: rgb(150, 150, 150);
cursor: pointer;
}

.holaxs {
    transform: translateX(-10px);
}

.bx-show:before {
    content: "\ec0c";
transform: translateX(-22px);
}
.bx-hide::before {
    content: "\ec0c";
transform: translateX(-22px);
}

.Input1{
    padding-right: 58%;
}

.password2 {
    position: absolute;
    right: 25px;
    transform: translate(0, -495%);
    bottom: 23%;}

    .password3 {
        position: absolute;
        right: 25px;
        transform: translate(0, -220%);
        bottom: 23%;
    }    

