* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apartadoCejas {
    background-image: url(C:\Users\SENA\Documents\GitHub1\Cento-de-estetica-facial\FrontEnd\src\assets\images\ojos.png);
    background-repeat: no-repeat;
    filter: brightness(0.5);
}
.apartado1 {
    background-image: url(C:\Users\SENA\Documents\GitHub1\Cento-de-estetica-facial\FrontEnd\src\assets\images\cej.png);
    background-repeat: no-repeat;
}
.apartado2 {
    background-image: url(C:\Users\SENA\Documents\GitHub1\Cento-de-estetica-facial\FrontEnd\src\assets\images\completo.png);
    background-repeat: no-repeat;
}
.apartado3 {
    background-image: url(C:\Users\SENA\Documents\GitHub1\Cento-de-estetica-facial\FrontEnd\src\assets\images\cejas.png);
    background-repeat: no-repeat;
}

p {
    color: white;
}