.Promociones {
    background-color: rgba(191, 106, 140, 0.4);
    color: black;
    display: flex;
    font-family: "Urbanist", sans-serif;
    height: 35px;
    align-items: center;
    justify-content: center;
}