body{
    margin: 0;
    padding: 0;
}

.titulo_Citas_Admin{
    text-align: center;
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid #c986957a;
    border-radius: 10px;
}

.titulo_Citas_Admin h1{
    background-color:  #C98695;
    font-size: 40px;
    padding: 1rem;
   border: 2px solid #C98695;
   border-radius: 10px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.476) 2px 4px 5px;

}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FCEBF2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 1rem;
    border: transparent;
    border-radius: 10px;
}

.contenido_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color:  #FCEBF2;
    border: transparent;
    border-radius: 5px;
    margin: 10px;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  th, td {
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #FCEBF2;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  .Contenido_Citas_Admin p{
    font: 100;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    text-align: center;
  }

  .Contenido_Citas_Admin hr{
    margin: 10px;
    color: #C98695;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .35;
  }

