.page-siguiente{
    background-color: #B66E7A;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    color: #ddd;
    margin: 5px;

}

.page-anterior{
    background-color: #B66E7A;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    text-align: center;
    color: #ddd;
    margin: 5px;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color:#B66E7A;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 5px;
    margin: 5px;
}