body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Manrope", sans-serif;
}

.container {
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Cabecera */
.titulo_Header_Servicios_Admin {
  background-color: #fcebf2;
  border: 3px solid #c98695;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Contenido general */
.Tabla_Contenido_Servicios_Admin {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Sección de Servicios */
.titulo_Contenido_Header_Servicios_Admin {
  background-color: #fcebf2;
  border: 2px solid #c98695;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.contenido_Header_Servicios_Admin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  background-color: #fcebf2;
  border: 1px solid #c98695;
  border-radius: 10px;
  gap: 10px;
}

.edicion_contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
}

.nombre_servicio_boton {
  font-size: 17px;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
}

.ajustes_edicion_contenido {
  display: flex;
  gap: 10px;
}

.edicion_contenido_boton {
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #c98695;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edicion_contenido_boton:hover {
  background-color: #a75d53;
}

/* Sección del Calendario */
.calendario_Contenido_Servicios_Admin {
  background-color: #fcebf2;
  padding: 20px;
  border: 1px solid #c98695;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo_calendario_Contenido_Servicios_Admin {
  background-color: #c98695;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.titulo_calendario_Contenido_Servicios_Admin h3 {
  background-color: #fcebf2;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.Calendario_contenudo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del Modal */
.modal-content {
  background: #fcebf2;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c98695;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #a75d53;
}

.add-service-container{
  padding: auto;
  gap: 10px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.add-service-container input{
  background-color: transparent;
  border: 2px solid #c98695;
  border-radius: 5px; 
}

.handleAddService{
  background-color: #fcebf2;
  border: 2px solid #c98695;
  border-radius: 5px; 
  padding: 1rem;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.titulo-add-service{
  background-color: #fcebf2;
  border: 10px solid #c98695;
  border-radius: 10px; 
  padding: 1rem;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-top: 1%;
} 

.titulo-add_personal_form{
  
  border: 10px solid #c98695;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-top: 1%; 
}