.citaspendientesbody {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.citaspendientestitulo {
    border-bottom: 30px;
}
.cartacompletacitas {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contenedorcarta {
    width: 40%;
    height: 85%;
    border-radius: 35px;
    transition: 400ms all ease;
    box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
  }
  .contenedorcarta:hover {
    transform: translateY(-4%);
    box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
  }
  .contenedorcarta img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }
  .subcarta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contenedorTitulo {
    width: 80%;
    font-weight: bold;
    margin-top: 10px;
    font-size: 35px;
    font-family: "Urbanist", sans-serif;
  }
  .contenedorsubtitulo {
    width: 80%;
    font-weight: bold;
    color: rgb(85, 84, 84);
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
  }
  .citaspendientestitulo {
    padding-bottom: 3%;
}

@media (max-width: 1400px) {
    .contenedorTitulo {
      font-size: 30px
    }.contenedorsubtitulo {
        font-size: 20px;
      }}

    @media (max-width: 1200px) {
        .contenedorTitulo {
          font-size: 26px
        }
        .contenedorsubtitulo {
            font-size: 15px;
          }}
          @media (max-width: 500px) {
            .cartacompletacitas {
              display: flex;
              flex-direction: column;
            }
            .contenedorcarta {
                width: 100%;
            }
            }
            @media (max-width: 990px) {
                .contenedorTitulo {
                    font-size: 40px
                  }
                  .contenedorsubtitulo {
                    font-size: 25px;
                  }
                  .cartacompletacitas {
                    display: flex;
                    flex-direction: column;
                  }
                  .contenedorcarta {
                    width: 100%;
                  }
                }