/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  background-color: #FFFFFF;
}

/* Contenedor principal para centrar el contenido */
.citaspendientesbody {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente el contenido */
  min-height: 80vh; /* Ajuste para centrar verticalmente */
}

.citaspendientesbody.container {
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
  height: max-content;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Títulos */
.citaspendientestitulo {
  padding-bottom: 3%;
  border-bottom: 30px;
}

/* Carta completa de citas */
.cartacompletacitas {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Subcarta */
.subcarta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10%;
}

.subcarta button {
  width: 160px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  background-color: #e9cbd5;
  color: black;
  border-color: #e9cbd5;
}

/* Contenedor de cada carta */
.contenedorcarta {
  width: 40%;
  height: 85%;
  border-radius: 35px;
  transition: 400ms all ease;
  box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.contenedorcarta:hover {
  transform: translateY(-4%);
  box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
}

.contenedorcarta img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

/* Títulos y subtítulos */
.contenedorTitulo,
.contenedorsubtitulo {
  width: 80%;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contenedorTitulo {
  font-size: 35px;
}

.contenedorsubtitulo {
  color: rgb(85, 84, 84);
  font-size: 20px;
}

/* Media Queries */
@media (max-width: 1400px) {
  .contenedorTitulo {
    font-size: 30px;
  }
  .contenedorsubtitulo {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .contenedorTitulo {
    font-size: 24px;
  }
  .contenedorsubtitulo {
    font-size: 16px;
  }
}

@media (max-width: 990px) {
  .cartacompletacitas {
    flex-direction: column;
  }
  .contenedorcarta {
    width: 100%;
  }
  .contenedorTitulo {
    font-size: 28px;
  }
  .contenedorsubtitulo {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .contenedorTitulo {
    font-size: 24px;
  }
  .contenedorsubtitulo {
    font-size: 15px;
  }
}
