body{
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
    font-family: "Playfair Display", serif;
 }

 .footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1rem;
 }

 .cenntro{
   display: grid;
   align-items: center;
 }
 .encabezadofooter {
    width: 100%;
    margin: 10px;
    padding: 1px;

  }
  
  .contenedorup {
    padding: 1px;
    background-color: #FCEBF2;
    color: #ffffff;
    color: #000000;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

 .izquierda{
    display: flex;
    flex-direction: column;
 }

.contenedor{
    background-color: #FCEBF2;
    color: #000000;
    padding: 3rem;
    display: flex;
    justify-content: space-between; 
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border-color: transparent;
    border: none; 
    font-size: 20px;
}


.derecha{
    display: flex;
    flex-direction: column;  
    text-align: center;
}

.abajo{
    width: 100%;
    margin-top: auto;
    background-color: #C98695;
    text-align: center;
    color: #ffffff
    ;
   
 }

.iconos_grandes{
    font-size: 1.5em;
}