body{
    background-color: beige;
    margin: 0 auto;
    padding: 0 auto;
}

.contenedor{
    width: 100%;
    background-color: azure;
}

button{
    background-color: transparent;
    border-color: transparent;
    column-gap: 3em;
    columns: 3;
    text-align: justify;

}