body{
   background-color: white;
   width: 100%;
}

.encabezado{
    padding: 3rem;
    width: 100%;
    text-align: center;
    color: #422A3C;
    font-weight: 700;
}
.subtitulo{
  color: #B66E7A;
  text-align: center;
  width: 30%;
  height: 10px;
}

.contenedor_contenido{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
}

.contenido_combo1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.contenido_combo1 li{
    width: 70%;
    color: black;
    text-align: justify;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    font-size: 20px;
}

.contenido_combo2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contenido_combo2 li{
    width: 70%;
    color: black;
    text-align:justify;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    font-size: 20px;
}

.picture img {
    max-width: 80%;
    height: auto;
    border: 6px solid #B66E7A;
    border-radius: 300px 300px 10px  10px;
    box-shadow: 0 15px 18px rgba(0, 0, 0, 0.1);
}

.conten_h3 h3{
    color: #422A3C;
    font-weight: 700;
}

.contenido_botones{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.informacion{
    width: 30%;
    display: flex;
}

.botonera{
    width: 30%;
    text-align: center;
    padding: 25px;
}

button :hover{
    background-color: #B66E7A;
    color: white;
    width: 40%;
}

