body{
   background-color: white;
   width: 100%;
}

.encabezado{
    padding: 3rem;
    text-align: center;
    color: #422A3C;
    font-weight: 700;
    background-color: #FCEBF2;
    box-shadow: 0 15px 18px rgba(0, 0, 0, 0.1);
}
.subtituloCmbos{
margin-top: 100px;
margin-bottom: 10px;
padding: 1rem;
}

.subtituloCmbos h2{
  color: #B66E7A;
  text-align: left;  
}

.contenedor_contenido{
    width: 100%;
    padding: 2rem;
    box-shadow: 0 4px 8px rgb(243, 242, 242);
}


.contenido_combo1{
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.contenido_combo1 li{
    color: black;
    text-align: justify;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    width: 50%;
   margin: 20px;
}

.contenido_combo2{
    display: flex;
}

.contenido_combo2 li{
    color: black;
    font-family: "Manrope", sans-serif;
    text-align: justify;
    font-size: 20px;
    width: 50%;
   margin: 20px;
}

.picture img {
    max-width: 100%;  /* Ensures images scale down */
    height: auto;       /* Maintains aspect ratio */
    border-radius: 10px; /* Maintains rounded corners */
    object-fit: cover;  /* Images will crop to fill container */
  }
  

.conten_h3{
    width: 100%;
}

.conten_h3 h3{
    color: #422A3C;
    font-weight: 700;
    text-align: left;
}

.contenido_botones{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.btn_reservar{
    color: #000000;
    background-color: #B66E7A;
    border: #FCEBF2;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}
