body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: Arial, sans-serif;
}

.banneer {
    background-color: #FCEBF2;
    position: relative;
    text-align: center;
    padding: 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banneer h1 {
    font-size: 80px;
    color: #422A3C;
    font-weight: 700;
    text-shadow: 1px 5px 5px rgb(168, 168, 168);
}

.contenedor_total {
    min-height: 100vh; /* Cambiado de height a min-height */
    display: flex;
    flex-direction: column;
}

.content_total {
    flex: 1; /* Hace que el contenido principal se expanda para llenar el espacio disponible */
    padding: 4rem;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
}

.contenido_ds {
    width: 50%;
    padding-right: 2rem;
}

.titulo_ds h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #422A3C;
}

.detalle_ds {
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 22px;
    width: 70%;
}

.precio_ds,
.tiempo_ds {
    font-size: 18px;
    color: #666666;
}

.botones {
    margin-top: 1rem;
}

.ReservarS {
    background-color: #B66E7A;
    color: #FFFFFF;
    font-family: "Playfair Display", serif;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
}

.botontyp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 70%;
}

.imagen-contenedor {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 15px 18px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.leyenda {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    font-style: italic;
    background-color: #B66E7A;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button_R {
    background-color: #B66E7A;
    border: transparent;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    width: 50%;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button_R:hover {
    background-color: #FCEBF2;
    color: #422A3C;
}

/* Media Queries */
@media (max-width: 1200px) {
    .banner h1 {
        font-size: 60px;
    }

    .titulo_ds h1 {
        font-size: 40px;
    }

    .detalle_ds {
        font-size: 20px;
        width: 80%;
    }

    .botones {
        flex-direction: column;
    }

    .tarjeta {
        flex-direction: column;
        align-items: center;
    }

    .contenido_ds {
        width: 100%;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .content_total {
        padding: 2rem;
    }

    .tarjeta {
        flex-direction: column;
        align-items: center;
    }

    .contenido_ds {
        width: 100%;
        padding-right: 0;
    }

    .titulo_ds h1 {
        font-size: 35px;
    }

    .detalle_ds {
        font-size: 18px;
        width: 100%;
    }

    .botontyp {
        flex-direction: column;
        width: 100%;
    }

    .botones {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 40px;
    }

    .titulo_ds h1 {
        font-size: 30px;
    }

    .detalle_ds {
        font-size: 16px;
    }

    .button_R, .ReservarS, .botontyp {
        width: 100%;
        max-width: none; /* Permite que el botón use todo el ancho disponible */
    }

    .imagen-contenedor {
        width: 100%;
    }

    .botontyp {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .banner h1 {
        font-size: 30px;
    }

    .titulo_ds h1 {
        font-size: 25px;
    }

    .detalle_ds {
        font-size: 14px;
    }

    .button_R, .ReservarS, .botontyp {
        padding: 0.8rem;
    }
}


