body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.contenedor_total {
    width: 100%;
    padding: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo h1 {
    text-align: left;
    color: #422A3C;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 60px;
}

.detalle {
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    margin-bottom: 1rem;
    width: 50%;
    font-size: 22px;
}

.detalle h3 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.informacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.informacion p {
    border: solid #B66E7A;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}

.contenido_botones{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.botonera {
    background-color: transparent;
    border: solid #B66E7A;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.imagen {  
    display: flex;
    justify-content: flex-end;   
}

.imagen img {
    max-width: 150%;
    height: auto;
    border: 6px solid #B66E7A;
    border-radius: 300px 300px 10px  10px;
    box-shadow: 0 15px 18px rgba(0, 0, 0, 0.1);
}
