.partarriba {
    display: flex;
    align-items: center;
    background-color: #FCEBF2;
}
.imgcar {
    display: flex;
    justify-content: end;
}

.titservic{
    width: 50%;
    display: flex;
    justify-content: center;
}
.imgcar{
    display: flex;
    width: 50%;
    justify-content: end;
}

h3 {
    padding-top: 5%;
    text-align: center;
}