.titservic {
    padding: 40px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-family: fangsong;
    text-shadow: 0px 4px 4px gray;
}

.cont1 {
    display: flex;
    flex-direction: row;
    padding: 50px;

    .apartado1 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titpes {
            display: flex;
            justify-content: center;
            font-size: 45px;
            font-family: 'DM Sans';
            -webkit-text-stroke-width: thin;
        }
        .contenido1 {
            font-size: 35px;
            padding: 20px;
            text-align: justify;
        }
        button {
            border: 0;
            border-radius: 10px;
            font-size: 35px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: #C98695;
        }
        .btn1 {
            display: flex;
            justify-content: center;
            font-family: 'Poppins';
        }
    }
}
.cont2 {
    display: flex;
    flex-direction:row-reverse;
    padding: 50px;
    .apartado2 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titcej {
            display: flex;
            justify-content: center;
            font-size: 45px;
            font-family: 'DM Sans';
            -webkit-text-stroke-width: thin;
        }
        .contenido2 {
            font-size: 35px;
            padding: 20px;
            text-align: justify;
        }
        button {
            border: 0;
            border-radius: 10px;
            font-size: 35px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: #C98695;
        }
        .btn2 {
            display: flex;
            justify-content: center;
            font-family: 'Poppins';
        }
    }
}
.cont3 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    .apartado3 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titmic {
            display: flex;
            justify-content: center;
            font-size: 45px;
            font-family: 'DM Sans';
            -webkit-text-stroke-width: thin;
        }
        .contenido3 {
            font-size: 35px;
            padding: 20px;
        }
        button {
            border: 0;
            border-radius: 10px;
            font-size: 35px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: #C98695;
        }
        .btn3 {
            display: flex;
            justify-content: center;
            font-family: 'Poppins';
        }
    }
}
.cont4 {
    display: flex;
    flex-direction:row-reverse;
    padding: 50px;
    .apartado4 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titcom {
            display: flex;
            justify-content: center;
            font-size: 45px;
            font-family: 'DM Sans';
            -webkit-text-stroke-width: thin;
        }
        .contenido4 {
            font-size: 35px;
            padding: 20px;
            text-align: justify;
        }
        button {
            border: 0;
            border-radius: 10px;
            font-size: 35px;
            padding-left: 50px;
            padding-right: 50px;
            background-color: #C98695;
        }
        .btn4 {
            display: flex;
            justify-content: center;
            font-family: 'Poppins';
        }
    }
}

