:root {
  --white: #ffffff;
  --light-gray: #c9bdbd;
  --dark-gray: #191919;
  --black-gray: #363638;
  --black-mate: #212123;
  --magenta: #8b5ad0;
  --light-blue: #a2cad2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.show {
  display: flex !important;
  justify-content: center;
}

.modal-content {
  border: none;
  border-radius: 0.3rem;
}

.modal-body {
  padding: 0rem;
}

.modal-header {
  z-index: 1;
  position: relative;
}

.container_login .row {
  height: auto;
}

.sign_in {
  padding: 1rem;
}

.sign_in h1 {
  color: #1b003a;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.sign_in p {
  color: #8c8c8c;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.inputs_login_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
}

.input_container_in input {
  width: 280px;
}

.input_container_in {
  position: relative;
  display: flex;
  align-items: center;
}

.input_container_in input {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #8c8c8c;
  background: transparent;
  color: #1b003a;
  padding: 0rem 0.5rem;
  outline: none;
  font-size: 14px;
}

.input_container_in label p {
  margin-bottom: 0px;
}

.input_container_in label i {
  padding: 0px;
  font-size: 16px;
}

.input_container_in label {
  column-gap: 5px;
}

.input_container_in label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-size: 13px;
  pointer-events: none;
  transition: 0.3s;
}

.show_password_in {
  position: absolute;
  left: 210px;
}

.input_container_in input:focus ~ label,
.input_container_in label.focused {
  top: 0;
  left: 15px;
  font-size: 12px;
  padding: 0rem 0.3rem;
  background: white;
}

.container_password {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.forgot {
  color: #1b003a;
  font-size: 12px;
  margin-top: 5px;
}

.button_in {
  font-size: 14px;
  font-weight: 400;
  padding: 0.65rem 1rem;
  border: none;
  background-color: var(--magenta);
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}

.password_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px;
}

.show_password_in {
  position: absolute;
  left: 253px;
  bottom: 3px;
}

.content_register {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  background-color: var(--magenta);
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 50% 0.3rem 0.3rem 50%;
}

.start_register {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0rem 3rem;
}

.start_register h1 {
  font-size: 22px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
}

.start_register p {
  font-size: 16px;
  text-align: center;
}

.start_register button {
  font-size: 14px;
  font-weight: 400;
  border-color: var(--white);
  padding: 0.65rem 1.5rem;
  color: white;
}

.start_register button:hover {
  background-color: var(--white);
  border-color: #1b003a;
  color: #1b003a;
}

@media only screen and (320px <= width <= 374px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_in h1 {
    font-size: 18px;
    padding: 0rem;
  }

  .sign_in p {
    font-size: 12px;
  }

  .input_container_in input {
    width: 250px;
  }

  .content_register {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_register {
    padding: 1.5rem 1rem;
  }

  .start_register h1 {
    font-size: 20px;
  }

  .start_register p {
    font-size: 12px;
  }

  .start_register button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .error_message p {
    font-size: 10px;
  }

  .error_message i {
    font-size: 14px;
  }

  .show_password_in {
    left: 227px;
  }
}

@media only screen and (375px <= width <= 424px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_in h1 {
    font-size: 18px;
    padding: 0rem;
  }

  .sign_in p {
    font-size: 12px;
  }

  .input_container_in input {
    width: 280px;
  }

  .content_register {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_register {
    padding: 1.5rem 1rem;
  }

  .start_register h1 {
    font-size: 20px;
  }

  .start_register p {
    font-size: 12px;
  }

  .start_register button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .error_message p {
    font-size: 10px;
  }

  .error_message i {
    font-size: 14px;
  }

  .show_password_in {
    position: absolute;
    left: 257px;
  }
}

@media only screen and (425px <= width <= 767px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_in h1 {
    font-size: 20px;
    padding: 0rem;
  }

  .sign_in p {
    font-size: 14px;
  }

  .input_container_in input {
    width: 300px;
  }

  .content_register {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_register {
    padding: 1.5rem 1rem;
  }

  .start_register h1 {
    font-size: 22px;
    font-weight: 600;
  }

  .start_register p {
    font-size: 14px;
  }

  .start_register button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .show_password_in {
    position: absolute;
    left: 276px;
  }
}

@media only screen and (768px <= width <= 1199px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_in h1 {
    font-size: 22px;
    padding: 0rem;
  }

  .sign_in p {
    font-size: 14px;
  }

  .input_container_in input {
    width: 330px;
  }

  .content_register {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_register {
    padding: 1.5rem 1rem;
  }

  .start_register h1 {
    font-size: 22px;
  }

  .start_register p {
    font-size: 14px;
  }

  .start_register button {
    font-size: 14px;
    padding: 0.65rem 1.5rem;
  }

  .show_password_in {
    position: absolute;
    left: 307px;
  }
}

@media only screen and (1200px <= width <= 1600px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;

    height: auto;
  }

  .sign_in h1 {
    font-size: 18px;
    padding: 0rem;
  }

  .sign_in p {
    font-size: 12px;
  }

  .input_container_in input {
    width: 250px;
  }

  .start_register {
    padding: 1.5rem 1rem;
  }

  .start_register h1 {
    font-size: 22px;
  }

  .start_register p {
    font-size: 14px;
  }

  .start_register button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .error_message p {
    font-size: 10px;
  }

  .error_message i {
    font-size: 14px;
  }

  .show_password_in {
    position: absolute;
    left: 227px;
  }
}

@media only screen and (min-width: 1601px) {
  .modal-dialog {
    max-width: 800px;
  }
  .modal-content {
    width: 800px;
  }
}
