.background {
  background-color: #FCEBF2;
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: left;
  align-items: center;
  overflow-y: scroll;

}

.Frase-background {
  margin-left: 10%;

}

.prueba {
  height: 100px;
  width: 100px;
  background-color: red;
}

.img-rostro {
  width: 100vh;
  height: auto;

}

.foto {
  width: 700px;
  height: 700px;
  overflow: hidden;
  border-radius: 100%;
  
}
.foto img {
  width: 100%;
  height: auto;
  display: block;
}


.boton {
  margin-left: 40% !important;
  background-color: #C98695;
  font-size: 20px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #BF6A8C;
  --bs-btn-border-color: #BF6A8C;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #BF6A8C;
  --bs-btn-hover-border-color: #BF6A8C;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #BF6A8C;
  --bs-btn-active-border-color: #BF6A8C;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #BF6A8C;
  --bs-btn-disabled-border-color: #BF6A8C;
}





.herr-von-muellerhoff-regular {
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: 400;
  font-style: normal;
}




.Frase-background h1 {
  text-align: left;
  justify-content: left;
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 80px;
  font-family: "Playfair Display", serif;
}

.Frase-background h2 {
  text-align: left;
  justify-content: left;
  color: #E9AF4A;
  height: auto;
  font-size: 80px;
  font-family: "Herr Von Muellerhoff", cursive;

}




.Frase-background p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 10%;
  font-family: "Urbanist", sans-serif;

}

.containergoblal {
  display: block;
  margin-left: 2%;
  margin-bottom: 7%;

}

.icono_grande{ 
  font-size: 2em;

}
.prueba {
  color: red;
}