:root {
  --white: #ffffff;
  --light-gray: #c9bdbd;
  --dark-gray: #191919;
  --black-gray: #363638;
  --black-mate: #212123;
  --magenta: #8b5ad0;
  --light-blue: #a2cad2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.show {
  display: flex;
  align-items: center;
}

.modal-content {
  border: none;
  border-radius: 0.3rem;
}

.modal-body {
  padding: 0rem;
}

.modal-header {
  z-index: 1;
  position: relative;
}

.container_register .row {
  height: auto;
}

.sign_up {
  padding: 1rem;
}

.sign_up h1 {
  color: #1b003a;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 0rem 3rem 0rem 3rem;
}

.sign_up p {
  font-size: 14px;
  color: #8c8c8c;
  text-align: center;
  margin-bottom: 20px;
}

.inputs_register_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
}

.inputs_first {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.inputs_second {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
}

.inputs_first .input_container_up input {
  width: 190px;
}

.inputs_second .input_container_up input {
  width: 392px;
}

.input_container_up {
  position: relative;
  display: flex;
  align-items: center;
}

.input_container_up input {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #8c8c8c;
  background: transparent;
  color: #1b003a;
  padding: 0rem 0.5rem;
  outline: none;
  font-size: 14px;
}

.input_container_up label p {
  margin-bottom: 0px;
}

.input_container_up label i {
  padding: 0px;
  font-size: 16px;
}

.input_container_up label {
  column-gap: 5px;
}

.input_container_up label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-size: 13px;
  pointer-events: none;
  transition: 0.3s;
}

.show_password_up {
  position: absolute;
  left: 370px;
}

.input_container_up input:focus ~ label,
.input_container_up label.focused {
  top: 0;
  left: 15px;
  font-size: 12px;
  padding: 0rem 0.3rem;
  background: white;
}

.button_up {
  font-size: 14px;
  font-weight: 400;
  padding: 0.65rem 1rem;
  border: none;
  background-color: var(--magenta);
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.content_login {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  background-color: var(--magenta);
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 50% 0.3rem 0.3rem 50%;
}

.start_login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0rem 3rem;
}

.start_login h1 {
  font-size: 26px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
}

.start_login p {
  font-size: 16px;
  text-align: center;
}

.start_login button {
  font-size: 14px;
  font-weight: 400;
  border-color: var(--white);
  padding: 0.65rem 1.5rem;
  color: white;
}

.start_login button:hover {
  background-color: var(--white);
  border-color: #1b003a;
  color: #1b003a;
}

.error_message {
  column-gap: 5px;
  margin-top: 8px;
}

.error_message p {
  color: #ff1f1f;
  font-size: 14px;
  margin-bottom: 0px;
}

.error_message i {
  color: #ff1f1f;
  font-size: 18px;
  padding: 0rem;
}

.input_container_up input:focus ~ label,
.input_container_up label.focused {
  top: 0;
  left: 15px;
  font-size: 12px;
  padding: 0rem 0.3rem;
  background: white;
}

@media only screen and (320px <= width <= 374px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_up h1 {
    font-size: 18px;
    padding: 0rem;
  }

  .sign_up p {
    font-size: 12px;
  }

  .inputs_first .input_container_up input {
    width: 118px;
  }

  .inputs_second .input_container_up input {
    width: 250px;
  }

  .content_login {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_login {
    padding: 1.5rem 1rem;
  }

  .start_login h1 {
    font-size: 20px;
  }

  .start_login p {
    font-size: 12px;
  }

  .start_login button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .error_message p {
    font-size: 10px;
  }

  .error_message i {
    font-size: 14px;
  }

  .show_password_up {
    position: absolute;
    left: 225px;
  }
}

@media only screen and (375px <= width <= 424px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_up h1 {
    font-size: 18px;
    padding: 0rem;
  }

  .sign_up p {
    font-size: 12px;
  }

  .inputs_first .input_container_up input {
    width: 145px;
  }

  .inputs_second .input_container_up input {
    width: 300px;
  }

  .content_login {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_login {
    padding: 1.5rem 1rem;
  }

  .start_login h1 {
    font-size: 20px;
  }

  .start_login p {
    font-size: 12px;
  }

  .start_login button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .error_message p {
    font-size: 10px;
  }

  .error_message i {
    font-size: 14px;
  }

  .show_password_up {
    position: absolute;
    left: 272px;
  }
}

@media only screen and (425px <= width <= 767px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_up h1 {
    font-size: 20px;
    padding: 0rem;
  }

  .sign_up p {
    font-size: 12px;
  }

  .inputs_first .input_container_up input {
    width: 170px;
  }

  .inputs_second .input_container_up input {
    width: 350px;
  }

  .content_login {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_login {
    padding: 1.5rem 1rem;
  }

  .start_login h1 {
    font-size: 22px;
  }

  .start_login p {
    font-size: 14px;
  }

  .start_login button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .show_password_up {
    position: absolute;
    left: 320px;
  }
}

@media only screen and (768px <= width <= 1199px) {
  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_up h1 {
    font-size: 20px;
    padding: 0rem;
  }

  .sign_up p {
    font-size: 12px;
  }

  .inputs_first .input_container_up input {
    width: 170px;
  }

  .inputs_second .input_container_up input {
    width: 350px;
  }

  .content_login {
    position: static;
    transform: translateX(0%);
    border-radius: 10% 10% 0.3rem 0.3rem;
  }

  .start_login {
    padding: 1.5rem 1rem;
  }

  .start_login h1 {
    font-size: 22px;
  }

  .start_login p {
    font-size: 14px;
  }

  .start_login button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .show_password_up {
    position: absolute;
    left: 320px;
  }
}

@media only screen and (1200px <= width <= 1600px) {
  .modal-dialog {
    max-width: 700px;
  }

  .modal-content {
    border: none;
    border-radius: 0.3rem;
    height: auto;
  }

  .sign_up h1 {
    font-size: 18px;
    padding: 0rem;
  }

  .sign_up p {
    font-size: 12px;
  }

  .inputs_first .input_container_up input {
    width: 140px;
  }

  .inputs_second .input_container_up input {
    width: 290px;
  }

  .start_login {
    padding: 1.5rem 1rem;
  }

  .start_login h1 {
    font-size: 22px;
  }

  .start_login p {
    font-size: 14px;
  }

  .start_login button {
    font-size: 12px;
    padding: 0.55rem 1rem;
  }

  .error_message p {
    font-size: 10px;
  }

  .error_message i {
    font-size: 14px;
  }

  .show_password_up {
    position: absolute;
    left: 260px;
  }
}

@media only screen and (min-width: 1601px) {
  .modal-dialog {
    max-width: 900px;
  }

  .modal-content {
    width: 900px;
  }
}
