.titrec {
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.mensajecheck {
    background-color: #7fccc618;
    padding: 20px;
    border-radius: 5px;
    display: flex;
}

.bx {
    display: contents;
    color:#7FCCC6
}

.datocheck {
    color: #7FCCC6;
    font-size: 17px;
}

.iconocheck {
    transform: translateY(5px);
    padding-right: 10px;
}

.botoncontinuar {
    background-color: #BA7894;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: translateY(10px);
}