/* src/components/AbonoInfo.css */
.abono-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f0f4f8; /* Color de fondo más claro */
    padding: 20px;
}

.abono-info-card {
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    border-radius: 12px; /* Bordes más redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
    padding: 30px;
    max-width: 450px; /* Ancho máximo aumentado para una mejor visualización */
    width: 100%; /* Ajustar al 100% del contenedor padre */
    height: auto; /* Ajustar la altura según el contenido */
    text-align: center; /* Centrar el texto */
    display: flex;
    flex-direction: column; /* Disposición vertical */
    justify-content: center; /* Centrar el contenido verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
}

.card-title {

    
    margin-bottom: 15px;
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

.personal{
    text-align: left;
}

.card-subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    color: #666;
    font-weight: 500;
}

.service-info, .payment-info, .cost-details, .additional-info {
    margin-bottom: 25px;
    text-align: center ; /* Alineación del texto */
    width: 100%;
}

.service-info p, .payment-info p, .cost-details p, .additional-info p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #444;
}

.service-info h5, .payment-info h5 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #007bff; /* Color del título para resaltar */
    display: flex;
    align-items: center;
}

.service-info i, .payment-info i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    color: #007bff; /* Color del icono */
    font-size: 22px; /* Tamaño del icono */
}
.status-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Espaciado superior para separar del contenido */
}

.status-info i {
    margin-left: 10px; /* Espaciado entre el texto y el ícono */
    font-size: 20px; /* Tamaño del ícono */
}


.go-home-button {
    margin-top: 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    font-size: 18px;
    width: 35%;
}

.go-home-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
}
